################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Content/HDI Spark and ADF/createClusterBlob.ps1
/Content/.vs/Content/v14/.suo
